h1 {
    font-size: 35px;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin-right: auto;
    margin-left: 180px;
    margin-bottom: 30px;
    transform: translateY(10%);
}

table.answer_comment {
    border-collapse: collapse;
    width:100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
}

th, td {
    position: relative;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    align-items: center;
}

.thumb a {
    margin-left: 5px;
}

.search-container {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}

.content-form {
    border-collapse: collapse;
    margin: auto;
}

.cell-content {
    position: relative;
    text-align: center;
}

.cell-text {
    display: block;
    margin-right: 10px;
}

.buttons {
    position: fixed;
    top: 60px;
    left: 15px;
}

.votes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-delete-buttons {
    position: absolute;
    top: 0;
    right: -5px;
    display: flex;
    flex-direction: row-reverse;
}

.remove_img {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    justify-content: center;
}

.del_img {
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.small-icon button {
    font-size: 8px;
    padding: 2px 4px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    margin-top: 10px;
}

.add_edit {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.sort-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
}

.sort-arrow a {
    margin-left: 5px;
}

.header-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}
