{% extends 'layout_table.html' %}

{% block title %}Add Answer{% endblock %}
{% block page_header %}Add Answer{% endblock %}
{% block options %}
<p>
     <a href="/question/{{ question_id }}">
        <button>Go back</button>
    </a>
</p>
{% endblock %}
{% block body %}

    <form action="/question/{{question_id}}/new_answer" method="POST" enctype="multipart/form-data">
        <div class="add_edit">
            <label for="message">Answer:</label>
            <textarea id="message" name="message" required></textarea>

           <p> <label for="image">Image:</label></p>
            <input type="file" id="image" name="image">

            <p> <input type="submit" value="Submit"></p>

        </div>
    </form>
{% endblock %}
