{% extends 'layout_table.html' %}

{% block title %}Add comment{% endblock %}
{% block page_header %}Add comment{% endblock %}
{% block options %}
<p>
     <a href="/question/{{ question_id }}">
        <button>Go back</button>
    </a>
</p>
{% endblock %}
{% block body %}

<form action="/question/{{ question_id }}/new_comment" method="POST" enctype="multipart/form-data">
    <div class="add_edit">
        <label for="message">New comment:</label>
        <textarea id="message" name="message" required></textarea>
    <p>
        <input type="submit" value="Submit">
    </p>
    </div>
</form>
{% endblock %}